{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login Page</title>
    <link rel="stylesheet" href="{% static 'mailer/styles.css' %}">
</head>
<body>
    <h2>Email Login</h2>
        {% if messages %}
            {% for message in messages %}
                <div
                    class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}

    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Verify Credentials</button>
    </form>
</body>
</html>